<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.demo.mapper.BoardMapper">
    <select id="list" resultType="Map">
        select 
        	*
        from
        	 board
       	order by idx desc;
    </select>
    
    <insert id="insert" parameterType="com.example.demo.model.BoardData">
        insert into board(
        	subject,
        	content,
        	writer
        ) values (
        	#{subject},
        	#{content},
        	#{writer}        	
        )
    </insert>
    
     <update id="update" parameterType="com.example.demo.model.BoardData">
		UPDATE board
		   SET subject = #{subject},
		   	   content = #{content},
		   	   writer = #{writer}
		 WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM board
		 WHERE idx = #{idx}
	</delete>
	
	<select id="read" parameterType="int" resultType="com.example.demo.model.BoardData">
		SELECT	
			*
		 FROM board
		 WHERE idx = #{idx}
	</select>
	
	<select id="listPage" resultType="com.example.demo.model.BoardData" parameterType="com.example.demo.model.Criteria">
		select * from 
			(select @no := @no+1 as ROWNUM, A.* 
				from ( select * from board order by idx desc) as A, 
				(select @no := 0 ) as B ) as C
				 where C.ROWNUM between #{rowStart} and #{rowEnd};
	</select>
	
	<select id="listCount" resultType="int">
		<![CDATA[
			select count(idx)
				from board
				where idx > 0
		]]>
	</select>
</mapper>